* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */


main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: solid 8px hsl(0deg, 0%, 40%);
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

.card {
  background-color: white;
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

.card, .intro-chunk {
  padding: 16px;
}

.intro-chunk > p {
  width: 75%
}

.indented-heading {
  display: block;
  padding: 16px 24px;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
  margin-top: -8px;
  margin-left: -24px;
}

.title {
  padding-bottom: 24px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}